.spx-show {
    z-index:1000;
    position: absolute;
    background:#fff;
    border-radius:5px ;
    padding: 2px;
    display: block;
    box-shadow:0px 3px 10px #999;
    -webkit-box-shadow:0px 3px 10px #999;
    -ms-box-shadow:0px 3px 10px #999;
    -moz-box-shadow:0px 3px 10px #999;
}
.spx-show ul {
    margin:0px;
    padding: 0px;
    list-style: none;
    min-width: 100px; 
}
.spx-gradient_cls {
    background: #fff;
    background: -webkit-linear-gradient(-45deg, rgba(160,207,244,0.7), rgba(255,255,255,0.7));
    background: -o-linear-gradient(-45deg, rgba(160,207,244,0.7), rgba(255,255,255,0.7));
    background: -moz-linear-gradient(-45deg, rgba(160,207,244,0.7), rgba(255,255,255,0.7));
    background: linear-gradient(-45deg, rgba(160,207,244,0.7), rgba(255,255,255,0.7));
}
.spx-show ul li {
    display: block;
    padding: 1px 3px;
} 
.spx-show ul li.spx-menu_separator {
    background: #eee;
    width: 100%;
    padding: 1px 0px;
}
.spx-show ul li div {
    cursor: default;
    display: block;
    font-size: 13px;
    color: #666;
    text-decoration: none;
    font-family: arial;
    padding: 3px 5px;
    text-align: left;
    line-height: 1.4;
}
.spx-show ul li div:hover {
    text-decoration: none;
    background: #fff;
    background: -webkit-linear-gradient(45deg, rgba(160,207,244,0.9), rgba(255,255,255,0.7));
    background: -o-linear-gradient(45deg, rgba(160,207,244,0.9), rgba(255,255,255,0.7));
    background: -moz-linear-gradient(45deg, rgba(160,207,244,0.9), rgba(255,255,255,0.7));
    background: linear-gradient(45deg, rgba(160,207,244,0.9), rgba(255,255,255,0.7));
}
.spx-show ul li div span {
    float: right;
    text-align: right;
    font-size: 10px;
    color:#999;
    margin: 0 0 0 20px;
}
.spx-hide {
    display: none;
}